<!--  Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class='container-fluid'>
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">PeaSeaBee</a>
    </div>
    
    <div class='navbar-collapse collapse col-md-12' id="navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li><a ui-sref="home">Projects</a></li>
			<li><a ui-sref="label-setup({projectID:'all'})">Shipping/Labels</a></li>
			<li><a>|</a></li>
			<li><a ui-sref="everyone">Everyone</a></li>
			<li><a ui-sref="me">Me</a></li>
			<li class='user-profile-link'>
				<div class='pull-right'>	
					<h6 class="pull-left profile-info">Hey there, {{username}}&nbsp;&nbsp;</h6>
					<a class='btn btn-xs btn-link logout-link' ng-click="logout()">Sign out</a>	
  				</div> 
			</li>	
		</ul>
	</div>
	<!-- <div class='col-md-3 pull-right'>	
		<h5 class="pull-left">Welcome {{username}}</h5>
		<a class='btn btn-xs btn-link' ng-click="logout()">Sign out</a>	
  	</div> --> 
</nav>