<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css' />
<link href='./app/css/default-label.css' rel='stylesheet' />

<section class='row'>
	<nav class='row'>
		<button class="btn btn-default col-md-4" ng-click="reset()">Select Project</button>
		<button class="btn btn-default col-md-4" ng-click="labelSetup('open')">Label Setup</button>
		<button class="btn btn-default col-md-4">Print</button>

	</nav>
	<br><br>
	<form collapse="step1" class = 'form-inline row' role="form">
		<select  class='form-control print-label-dropdown col-md-4 pull-left' ng-model="projectID" ng-options="project.id as project.name for project in projects">
		      <option value="">-- Select Project --</option>
		</select>
		<button class='btn pull-left col-md-offset-1' ng-click='labelSetup(projectID)'>Submit</button>
	</form>
	
	<form collapse='step2' class='row print-labels clearfix'>
		<div class='label-select-form'>
			<div class='col-md-6'>
				<h4>Select Serial Numbers to Print</h4>
				<div class='label-serials-form'>
					<label >
					  <input 
					  type="checkbox" 
					  ng-click='toggleAll(toggleState)'
	 				  ng-model='toggleState'
	 				  ng-init='toggleState = false'>Select All Serials
					</label>
				</div>		
				<label ng-repeat="serial in serials">
				  <input 
				  type="checkbox" 
				  name="selectedSerials" 
				  value='serial.id'
				  ng-click='toggleSerial(serial.id)'
				  ng-checked='serial.isChecked'> {{serial.pcb}}
				  
				</label>
			</div>
			<div class='col-md-6'>
				<h4>Select data to include <span style="font-size: 14px">(you can change this later on too)</span></h4>
				<div class='label-tests-form'>
			  	  <label ng-repeat="test in tests">
					  <input
					    type="checkbox"
					    name="selectedTests"
					    value='test.id'
					    ng-click='toggleTest(test.id)'
					    ng-checked='test.isChecked'
					   >{{test.test_name}}
					</label>
				</div>
			</div>
		</div>	
		<button class='btn btn-lg btn-block btn-primary' ng-click='printLabels()'> Final Step >>></button>
	</form>

	<div collapse="step3" class='row'>
		<nav class='navbar col-md-12 clearfix'>
			<h5>Serial to show:</h5> 
			<span class='pull-left'> 
				<input type='radio' ng-model="type" value='pcb' ng-checked='true'>PCB</span>
		
			<span class='pull-left'>
				<input type='radio' ng-model="type" value='housing' >Housing</span>
			
			<span class='pull-left'>
				<input type='radio' ng-model="type" value='imei'>IMEI</span>
		</nav>
		<BR>

		
		<div ng-repeat='label in labels' class='label-container col-md-6'>
			
			<div class='row'>
				<div class='meta-data'>
					<input type='text' value='Serial Number:'>
					<input type='text' serial-number  value=''>
				</div>
			</div>
			
			<div class='row'>
				<div class='meta-data'  ng-repeat='meta in metadata'>
					<input type='text' value='{{meta.name}}'>
					<input type='text' value='{{meta.value}}'>
				</div>
			</div>

			<div class='row'>
				<div class='test-data' ng-repeat='test in label.tests'>
					<input type='text' value='{{test.name}}'>
					<input type='text' value='{{test.result}}&nbsp;({{test.units}})'>
				</div>
			</div>

		</div>

		<pagination items-per-page='perPage' total-items="totalItems" ng-model="currentPage"></pagination>
	</div>

</section>