<h4 ng-bind='projectName'></h4>
<a ui-sref='home'><- Back to all projects</a><br>

<div class='col-md-6'>
	<table class='table table-striped'>
		<thead>
			<tr>
				<th>Serial Number</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='serial in serials track by $index'>
				<td><a ui-sref="test_history.serial({serialID: serial.id})" ng-bind="serial.pcb"></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- 	<ul>
		<li ng-repeat="serial in serials track by $index">
			<a ui-sref="test_history.serial({serialID: serial.id})" ng-bind="serial.pcb"></a>
		</li>
	</ul>
 -->