<h4 ng-bind='projectName'></h4>
<a ui-sref='projects.home({projectID:projectID, projectName: projectName})' >Back to all serial numbers</a><br>

<div class='col-md-6'>
	<h5>Test history for: {{serialNumber}}</h5>

	<table class='table table-striped'>
		<thead>
			<tr>
				<th>Test Date</th>
				<th>Result</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="attempt in history">
				<td><a ui-sref='test_history.serial.awt_data({resultID: attempt.id})' ng-bind="attempt.date"></a>
				</td>
				<td><a ui-sref='test_history.serial.awt_data({resultID: attempt.id})' ng-bind="attempt.final_result"></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-md-8" ui-view='results'></div>