;------------------------------------------------------------------
;
;
;If the database changes in any way (ProductDataTracking),
;Make sure to come back here and see if things need to change
;accordingly in this file. What follows is a general description
;of what this file is. 
;
; -  It tells the application what tables in the dB are relevant to 
;    our test data files. 
; -  It tells the app what columns in that table should contain our 
;    parsed data. 
; -  It tells the app what data it should search for in our .htm file
; -  It tells the app which one of it's search algorithms to use in 
;    order to populate the data from the .htm file in the database. 
;
; Currently only two search styles supported in: class.fileDataExtractor.inc.php
;
;    @keyword - Finds the string to the left of the equals sign and takes
;  	        whatever data comes AFTER it.
;
; @<HTML TAG> - Uses a PHP class to find all text data inside a given html tag.
; 		This algorithm suited primarily to finding data inside html 
; 		<table><th><td> type of, "serial" elements 
; 	
; V---------------------SAMPLE STRUCTURE-----------------------V
;
;	 New Table Indicator --------->	 #######################
; 	    Table Name in dB --------->  <Product>

; (String to find in .htm) =
; (Which dB column this data --------->  Test Report = prodName
;  gets inserted into.)
;
;        Search Style to use --------->  @keyword
;
;-----------------------------------------------------------------


############NEW TABLE########################
<Products>
Test Report = prodName
@keyword



############NEW TABLE######################## 
<PRODUCTNAMEHERE_SerialNumbers>     
Serial Number = SerialNum
@keyword




#############NEW TABLE##########################
<PRODUCTNAMEHERE_TestAttemptTracker>
   Final Result = finalResult
Tests Completed = datetime
@keyword




##############NEW TABLE#########################
<PRODUCTNAMEHERE_AWTTestMetaData>

      Inspector Number = Inspector_Number
            TNS System = TNS_System
  TNS Software Version = TNS_Software_Version
Test Program Set Build = Test_Program_Set_Build
           TPS Version = TPS_Version
    Path Loss File Due = Path_Loss_File_Due

@keyword




######################NEW TABLE#############################
<PRODUCTNAMEHERE_TestResults>

 Test No. = Test_No
Test Name = Test_Name
      Min = Min
      Max = Max
   Actual = Actual
    Units = Units
   Result = Result


@<TD>


