@CHARSET "ISO-8859-1";
html,body,.main-cont,.main-inner,.content-cont,
.project-home,.nested-one,.nested-two,.project-home-cont,
.serial-nums
{
  min-height:955px;  /* make content stretch to bottom of page */
 /* max-height:150vh;*/  /* this is a hack  that doesn't even work very well*/
}

/*  For angular bootstrap ui module, per their instructions */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@media screen and (max-height: 600px) {
  html, body,.main-cont,.main-inner,.content-cont,.project-home-cont 
  {
    /*height:100vh;*/  
  }
}

.top-buffer {
  margin-top: 10px;
}


body
{
    margin      : 0;
    padding     : 0 0 50px 0;
    font-family : "Helvetica", "Arial";
    font-size   : 14px;
    line-height : 18px;
    cursor      : default;
}

{
    color : #ef7c61;
}
.container
{
    width    : 960px;
    position : relative;
    margin   : 0 auto;
}
.header, .footer
{
    background  : #000;
    line-height : 50px;
    height      : 50px;
    width       : 100%;
    color       : #fff;
}
.header h1, .header a
{
    display : inline-block;
}
.header h1
{
    margin      : 0;
    font-weight : normal;
}
.footer
{
    position : absolute;
    bottom   : 0;
}
.content
{
    padding : 25px 0;
}
label, input, .error
{
    clear  : both;
    float  : left;
    margin : 5px 0;
}
.error
{
    color : #ef7c61;
}


/* Custom App CSS */
body 
{
  background-color        : #f5efe6;
}
.col-centered
{
    float                 : none;
    margin                : 0 auto;
}
.table-bordered 
{
    border                : 1px solid #ddd;
    border-collapse       : separate;
    border-left           : 0;
    -webkit-border-radius : 4px;
    -moz-border-radius    : 4px;
    border-radius         : 4px;
}

/********************************************************************Project Home */
.project-home 
{
  -webkit-box-shadow    : 0 0 6px rgba(0,0,0,0.3);
     -moz-box-shadow    : 0 0 6px rgba(0,0,0,0.3);
          box-shadow    : 0 0 6px rgba(0,0,0,0.3);

    
  -webkit-border-radius : 3px;
     -moz-border-radius : 3px;
          border-radius : 3px;

  background-color      : rgba(255,255,255,1.0);
}
/*******************************************************************Nested view */
.nested-one,.nested-two 
{
  -webkit-box-shadow    : 0 0 6px rgba(0,0,0,0.3);
     -moz-box-shadow    : 0 0 6px rgba(0,0,0,0.3);
          box-shadow    : 0 0 6px rgba(0,0,0,0.3);
    
  -webkit-border-radius : 3px;
     -moz-border-radius : 3px;
          border-radius : 3px;
  
  margin-left           : 15px;
  margin-bottom         : -25px;
  width                 : 960px;
  background-color      : rgba(255,255,255,1.0);
}
.nested-two 
{
  margin-top: 5px;
}

.nested-behind 
{
  background-color      : rgb(241, 241, 241);
}
/*******************************************************************Login Form */
.form-signin 
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox 
{
  margin-bottom: 10px;
}
.form-signin .checkbox 
{
  font-weight: normal;
}
.form-signin .form-control 
{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus 
{
  z-index: 2;
}
.form-signin input[type="email"] 
{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] 
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/********************************************************************Header */
.main-nav 
{
  width: 1040px;
  margin: 0 auto;
}
/********************************************************************User Profile Link */
.user-profile-link 
{
    margin-left: 100px;
    margin-top: 10px;
    font-style: italic;
}

.logout-link 
{
    padding-top: 8px;
    font-style: italic;
    color: #FD7408;
}
.logout-btn:hover 
{
    text-decoration: none;
}
/*********************************************************************All Projects Home */
.project-thumbnail 
{
    height: 200px;
}
.serial-nums
{
 /* display: inline-block;*/
}
/**********************************************************************Project Toolbar */
.project-toolbar
{
  margin              : 10px 5px 10px 15px;
  border-top          : 1px solid #dedede;
  border-bottom       : 1px solid #dedede;
  padding             : 5px;
  width               : 95%;
}

.project-toolbar a 
{
  margin-right: 15px;
}

.new-project 
{
  background-color: rgba(200,200,200,0.1);
}

.new-project > a {
  background-color: rgba(0,0,0,0);
  margin: 0 auto;
  cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.modal {
  display: block;
}

/**********************************************************************Test Results table */
.test-results,.print-labels{
  background-color: white;
}

.print-labels {
  margin-top: 10px;
}

.print-label-dropdown {
  width: 300px;
}

/**********************************************************************Print Labels related CSS */
.label-serials-form, .label-tests-form {
    max-height: 700px;
    overflow-y: auto;
}
